.badge {
    padding: 0.55em 0.8em 0.4em;
    text-transform: uppercase;

    &-light {
        background-color: $white;
        color: $blue--dark;
    }

    &-dark {
        background-color: $blue--dark;
        color: $white;
    }
}
