.bar-chart {
    display: table;
    width: 100%;

    &__row {
        display: table-row;
    }

    &__label {
        display: table-cell;
        color: $blue--lighter;
        width: 20%;
        min-width: 160px;
        padding: 3px 40px 3px 0;

        @include font-size(12px, true);
    }

    &__bar {
        display: table-cell;
    }

    &__x-axis {
        display: table-row;
    }

    &__x-axis-blank {
        display: table-cell;
    }

    &__x-axis-labels {
        display: table-cell;
    }

    &__x-axis-labels-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        color: $blue--lighter;

        @include font-size(12px);
    }
}
