.bar-chart {
    $self: &;

    display: table;
    width: 100%;

    &__row {

        @include media-breakpoint-up(xs) {
            display: table-row;
        }

        & + & {
            margin-top: 10px;

            @include media-breakpoint-up(xs) {
                margin-top: 0;
            }
        }
    }

    &__label {
        display: table-cell;
        color: $blue--lighter;
        width: 20%;
        min-width: 160px;
        padding: 3px 40px 3px 0;

        @include font-size(12px, true);
    }

    &__bar {

        @include media-breakpoint-up(xs) {
            display: table-cell;
        }
    }

    &__x-axis {
        display: block;

        @include media-breakpoint-up(xs) {
            display: table-row;
        }
    }

    &__x-axis-blank {
        display: block;

        @include media-breakpoint-up(xs) {
            display: table-cell;
        }
    }

    &__x-axis-labels {
        display: block;
        margin-top: #{ $spacer / 2 };

        @include media-breakpoint-up(xs) {
            display: table-cell;
            margin-top: 0;
        }
    }

    &__x-axis-labels-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        color: $blue--lighter;

        @include font-size(12px);
    }
}
