.button {
    $self: &;

    @extend %button-reset;
    @extend %transition;

    display: inline-flex;
    padding: 2px 15px 0;
    line-height: 26px;
    border-radius: 14px;
    text-align: center;

    @include font-size(14px);

    @include hover(true) {
        text-decoration: none;
    }

    &:active {
        transform: scale(0.95);
    }

    &--primary {
        background: $blue--grad-diagonal;
        box-shadow: 0 2px 9px 0 rgba(30, 112, 183, 0.20), inset 0 1px 3px 0 rgba(255, 255, 255, 0.50);
        color: $white;

        @include hover() {
            box-shadow: 0 2px 9px 0 rgba(30, 112, 183, 0.20), inset 0 1px 6px 0 rgba(0, 0, 0, 0.20);
            color: $white;
        }
    }

    &--white {
        background: $white;
        color: $blue--dark;

        @include hover() {
            background: $gray-200;
            color: $blue--dark;
        }
    }

    &--dark {
        background: $blue--dark;
        color: $white;

        @include hover() {
            box-shadow: 0 2px 9px 0 rgba(30, 112, 183, 0.20), inset 0 1px 6px 0 rgba(0, 0, 0, 0.20);
            color: $white;
        }
    }

    &--success {
        background: $success--grad;
        color: $white;

        @include hover() {
            box-shadow: 0 2px 9px 0 rgba(10, 69, 49, 0.20), inset 0 1px 6px 0 rgba(0, 0, 0, 0.20);
            color: $white;
        }
    }

    &--error {
        background: $error--grad;
        color: $white;

        @include hover() {
            box-shadow: 0 2px 9px 0 rgba(87, 16, 24, 0.20), inset 0 1px 6px 0 rgba(0, 0, 0, 0.20);
            color: $white;
        }
    }

    &--trans-light {
        background: transparent;
        color: $white;
        opacity: 1;

        @include hover() {
            opacity: 0.75;
        }
    }

    &--trans-dark {
        background: transparent;
        color: $blue--dark;
        opacity: 1;

        @include hover() {
            opacity: 0.75;
        }
    }

    &--text {
        color: $blue;
        text-decoration: underline;
    }

    &--block {
        display: block;
        width: 100%;
        border-radius: $radius;
        font-weight: $font-weight-bold;
        line-height: 44px;
        text-align: center;

        @include font-size(20px);

        &:active {
            transform: scale(0.995);
        }
    }

    &__icon {
        position: relative;
        left: -3px;
        display: block;
        width: 14px;
        height: 14px;
        margin-right: 6px;

        &--right {
            margin-right: 0;
            margin-left: 6px;
            left: auto;
            right: -3px;
        }

        .icon {
            width: 100%;
            height: 100%;
            fill: $white;

            #{ $self }--white & {
                fill: $blue--dark;
            }
        }
    }

    &--squared {
        border-radius: $radius;
    }

    &.disabled,
    &:disabled {
        pointer-events: none;
        background: $blue-grey;
        box-shadow: none;
        color: $gray-500;
        text-decoration: none;

        &:active {
            transform: scale(1);
        }

        &#{ $self }--text {
            background: transparent;
        }
    }

}
