.button {
    @extend %button-reset;
    @extend %transition;

    display: inline-block;
    padding: 2px 15px 0;
    line-height: 26px;
    border-radius: 14px;

    @include font-size(14px);

    @include hover(true) {
        text-decoration: none;
    }

    &:active {
        transform: scale(0.99);
    }

    &--primary {
        background: linear-gradient(-196deg, #2392C9 0%, #1E70B7 100%);
        box-shadow: 0 2px 9px 0 rgba(30,112,183,0.20), inset 0 1px 3px 0 rgba(255,255,255,0.50);
        color: $white;

        @include hover() {
            box-shadow: 0 2px 9px 0 rgba(30,112,183,0.20), inset 0 1px 6px 0 rgba(0,0,0,0.20);
            color: $white;
        }
    }

    &--white {
        background: $white;
        color: $blue;

        @include hover() {
            background: $gray-200;
            color: $blue;
        }
    }
}
