.definition-list {
    $self: &;

    dt {
        display: inline-block;
        margin: 0 5px 2px 0;

        @include font-size(14px, true);
    }

    dd {
        margin: 0;
        display: inline;
        color: $blue--dark;

        @include font-size(16px, true);

        &:after {
            content: "\a";
            white-space: pre;
        }

    }

    &--space-between {
        display: table;
        width: 100%;

        dt,
        dd {
            width: auto;
            overflow: visible;
        }

        dt {
            display: table-cell;
            white-space: nowrap;
        }

        dd {
            display: table-cell;
            text-align: right;

            &:after {
                display: none;
            }

            &.definition-list__line-break {
                display: table-row;
            }
        }
    }

    &--inline {

        dd {

            &:after {
                content: "";
                white-space: normal;
            }
        }

        dd + dt {
            margin-left: 40px;
        }
    }

    @each $name, $value in $grid-breakpoints {

        &--inline-#{ $name } {

            @include media-breakpoint-up(#{ $name }) {
                dd {

                    &:after {
                        content: "";
                        white-space: normal;
                    }
                }

                dd + dt {
                    margin-left: 40px;
                }
            }
        }

    }

    &--stacked {

        dt {
            display: block;
            margin: 0;
            color: $blue;

            @include font-size(12px, true);
        }

        dd {
            display: block;
            margin: 0;
            color: $blue--dark;

            @include font-size(16px, true);

            &:after {
                display: none;
            }

            & ~ dt {
                margin-top: #{ $spacer / 2 };
            }
        }
    }
}
