.form-sticky-button {
    position: relative;
    top: -$radius;
    display: block;
    margin-bottom: -$radius;
    padding-top: $radius;

    @include font-size(16px);

    &:active {
        transform: scale(1);
    }
}
