.form-group {
    margin: 0;

    &--has-icon {
        position: relative;
    }

    &__input-icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 20px;
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);

        .icon {
            @extend %transition;

            width: 100%;
            height: 100%;
            fill: $blue-grey;

            .form-control:focus ~ & {
                fill: $blue;
            }

            .form-control.is-valid:focus ~ & {
                fill: $success;
            }

            .form-control.is-invalid:focus ~ & {
                fill: $danger;
            }
        }

        &--sm {
            width: 11px;
            height: 11px;
            right: 10px;
        }
    }
}
