.form-control {
    position: relative;
    box-shadow: inset 0 0 6px 0 rgba($black, 0.10) !important;

    &:focus,
    &.is-valid,
    &.is-invalid {
        border-width: 2px;
        padding: calc(#{ $input-padding-y } - 2px) calc(#{ $input-padding-x } - 2px);
    }

    &--has-icon {
        padding-right: 64px;

        &:focus {
            padding-right: 62px;
        }
    }

    &--has-dropdown {
        &:focus,
        &.is-valid,
        &.is-invalid {
            border-width: 0;
            padding: $input-padding-y $input-padding-x;
        }
    }

    &--display-as-text {
        box-shadow: none !important;
        color: $blue--dark;
        padding: 0;
        height: auto;

        @include font-size(16px, true);

        &::-webkit-input-placeholder {
            opacity: 0;
        }

        &:-moz-placeholder {
            opacity: 0;
        }

        &::-moz-placeholder {
            opacity: 0;
        }

        &:-ms-input-placeholder {
            opacity: 0;
        }
    }
}
