.icon-notify {
    position: relative;
    display: inline-block;
    height: 30px;

    .icon {
        position: absolute;
        top: 7px;
        left: 0;
        width: 22px;
        height: 22px;
        fill: $blue;
    }

    &__badges {
        position: relative;
        display: flex;
        padding-left: 12px;
    }

    &__badge {

        & + & {
            margin-left: 2px;
        }
    }
}
