.panel {
    $self: &;

    position: relative;
    z-index: 2;

    &__inner {
        position: relative;
        border-radius: $radius;
        box-shadow: 0 2px 9px 0 rgba(0, 48, 78, 0.02);
        z-index: 2;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: $box-padding $box-padding 0;
        border-radius: $radius;
        background: $white;

        > * + * {
            margin-left: #{ $spacer * 2 };
        }
    }

    &__heading {
        position: relative;
        min-height: 44px;
        margin-top: -15px;
        margin-left: -#{ $box-padding };
        padding-top: 12px;
        padding-left: $box-padding;
        color: $blue--dark;
        font-weight: $font-weight-bold;
        flex: 1;

        @include font-size(20px, true, $line-height-sm);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 44px;
            background: $blue;
            border-radius: 0 5px 5px 0;
        }
    }

    &__main {
        position: relative;
        padding: $box-padding;
        border-radius: 0 0 $radius $radius;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
        background: $white;

        #{ $self }__header ~ & {
            padding-top: #{ $box-padding / 2 }
        }

        &--3-columns {
            display: flex;

            > * {

                @include media-breakpoint-up(lg) {
                    width: percentage(1/3);
                    padding: 0 $box-padding;
                    border-right: 2px solid $blue--lightest;
                    border-left: 2px solid $blue--lightest;

                    &:first-child {
                        padding-left: 0;
                        border-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: 0;
                    }
                }
            }
        }
    }

    &__split-call-to-action {
        display: flex;
    }

    &__call-to-action {
        @extend %button-reset;
        @extend %transition;

        position: relative;
        top: -#{ $radius };
        margin-bottom: -#{ $radius };
        display: block;
        width: 100%;
        padding: #{ 10px + $radius } $box-padding 10px;
        border-radius: 0 0 $radius $radius;
        background-image: $blue--grad;
        color: $white;
        text-align: center;

        @include font-size(16px, true);

        @include hover(true) {
            text-decoration: none;
            color: $white;
            box-shadow: inset 0 10px 10px 2px rgba(0, 48, 78, 0.2);
        }

        #{ $self }__split-call-to-action & {
            width: 50%;

            // The left button
            &:first-child {
                background-image: linear-gradient(to right, $blue 0%, #227EBB 100%);
                text-align: left;
                border-radius: 0 0 0 $radius;
            }

            // The right button
            &:last-child {
                background-image: linear-gradient(to right, #227EBB 0%, $blue--light 100%);
                text-align: right;
                border-radius: 0 0 $radius 0;
            }
        }

        &[disabled] {
            color: rgba($white, 0.4);
            pointer-events: none;

            @include hover(true) {
                color: rgba($white, 0.4);
                box-shadow: none;
                cursor: default;
            }
        }
    }

    &__pre-header {
        position: relative;
        bottom: -#{ $radius };
        margin-top: -#{ $radius };
        padding: 10px 20px #{ 10px + $radius };
        border-radius: $radius $radius 0 0;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
        background-image: $blue--grad;
        color: $white;
        overflow: visible;

        @include font-size(16px, true);

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__pre-header-primary {
        flex: 1;
        overflow: visible;
    }

    &__pre-header-secondary {
        color: $blue--lighter;
        padding-top: #{ $spacer / 2 };

        @include font-size(12px, true);

        @include media-breakpoint-up(md) {
            padding-top: 0;
            padding-left: #{ $spacer * 2 };
        }
    }

    &__pre-header-definition-list {
        list-style: none;
        padding-left: 0;

        @include media-breakpoint-up(sm) {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            margin-right: 40px;
        }

        dt {
            display: inline-block;
            margin: 0 5px 2px 0;
            color: $blue--lighter;

            @include font-size(12px, true);
        }

        dd {
            margin: 0;
            display: inline;
            color: $white;

            @include font-size(16px, true);
        }
    }

    &__alert {
        position: relative;
        top: -#{ $radius };
        margin-bottom: -#{ $radius };
        display: block;
        padding: #{ 10px + $radius } 20px 10px;
        border-radius: 0 0 $radius $radius;
        background-image: linear-gradient(52deg, #00304E 0%, #074173 100%);
        color: $white;
        text-align: center;

        @include font-size(16px, true);

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }

        &--success {
            background-image: $success--grad;
        }

        &--error {
            background-image: $error--grad;
        }

        .icon {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            fill: $white;
            margin-right: 10px;
        }
    }

    &__stack {
        @extend %button-reset;

        content: "";
        position: absolute;
        top: #{ $box-padding / 2 };
        bottom: $box-padding;
        left: 100%;
        width: 20px;
        border-radius: 0 $radius $radius 0;
        background: $gray-100;
        box-shadow: 0 2px 9px 0 rgba(0, 48, 78, 0.02);
        z-index: 0;

        &:active,
        &:hover {
            @extend %button-reset--hover;
        }

        &:focus {
            @extend %button-reset--focus;
        }
    }

    &__header-meta {
        color: $blue--lighter;

        @include font-size(12px, true);
    }

    &__nav-button {
        @extend %button-reset;
        @extend %transition;

        width: 16px;
        height: 16px;
        opacity: 1;

        .icon {
            width: 100%;
            height: 100%;
            fill: $blue--dark;
        }

        &:disabled,
        .is-disabled {
            opacity: 0.25;
        }
    }

    &__header-legend {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__header-legend-item {
        display: flex;
        align-items: center;

        @include font-size(12px, true);

        & + & {
            margin-left: 20px;
        }

        &:before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            margin-right: 6px;
        }

        &--primary {
            color: $blue;

            &:before {
                background: $blue;
            }
        }

        &--secondary {
            color: $blue--dark;

            &:before {
                background: $blue--dark;
            }
        }
    }
}
