.table {
    $self: &;

    margin: 0;

    thead {

        th {
            border: 0;
            color: $blue;

            @include font-size(12px, true);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    tbody {

        @include font-size(14px, true);

        td {
            border-top: 2px solid $blue--lightest;
            vertical-align: middle;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        & + tbody {
            border-top: 2px solid $blue--lightest;
        }
    }

    &__link {
        color: $blue--dark;

        @include font-size(16px, true);

        @include hover(true) {
            text-decoration: none;
        }
    }

    &__checkbox {

        label {

            &:before,
            &:after {
                top: -0.7rem;
            }
        }
    }

    &__icon-column {
        width: 26px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &__icon-button {
        display: inline-block;
        width: 26px;
        height: 26px;

        .icon {
            @extend %transition;

            width: 100%;
            height: 100%;
            fill: $blue;
        }

        &:active,
        &:hover {

            .icon {
                fill: lighten($blue, 15%);
            }
        }
    }

    &__icon {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 10px;

        .icon {
            width: 100%;
            height: 100%;
            fill: $blue;
        }

        &--gold {

            .icon {
                fill: $gold;
            }
        }

        &--silver {

            .icon {
                fill: $silver;
            }
        }

        &--bronze {

            .icon {
                fill: $bronze;
            }
        }
    }

    &__group-head {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__group-head-avatar {
        width: 50px;
    }

    &__group-head-text {
        padding-left: 10px;
        color: $blue--dark;
        font-weight: $font-weight-normal;

        @include font-size(16px, true);
    }

    &__group-header-total-time {
        color: $blue;

        @include font-size(12px, true);
    }

    // The first column of each row in a grouped table (excluding the "group head")
    &__group-item-decor {
        position: relative;
        width: calc(60px + #{ $table-cell-padding });
        border: 0 !important;

        // The vertical line
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1px;
            width: 2px;
            height: 100%;
            background: $blue--lighter;

            // Extend the top of the line to meet the bottom of the avatar
            .table tr:nth-child(2) & {
                top: calc(-#{ $table-cell-padding } - 1px);
                height: calc(100% + #{ $table-cell-padding } + 2px);
                border-radius: 0 0 0 1px;
            }

            // Remove the tail at the bottom of the line
            .table tr:last-child & {
                height: calc(50% + 1px);
                border-radius: 0 0 0 1px;
            }
        }

        // The horizontal "notches"
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            width: 10px;
            height: 2px;
            border-radius: 0 1px 1px 0;
            background: $blue--lighter;
        }

        & + td {
            padding-left: 0;
        }
    }

    &__avatar {
        width: 25px;
        margin-right: 10px;
    }

    &__result-column {
        width: 1%;
    }

    &__result-column-inner {
        display: flex;
        align-items: center;
    }

    &__result-position {
        min-width: 35px;
        padding-right: 10px;
        color: $blue--dark;
        font-weight: $font-weight-bold;
        white-space: nowrap;

        @include font-size(20px, true);
    }

    &__result-position-suffix {

        @include font-size(12px, true);
        margin-left: -4px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > * + * {
            margin-left: 10px;
        }
    }

    &__sortable-column {
        display: flex;
        align-items: center;
    }

    &__sort-button {
        @extend %button-reset;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }

    &__sort-button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6px;
        height: 6px;

        .icon {
            width: 100%;
            height: 100%;
            fill: $blue--lighter;
        }

        &--up {
            transform: rotate(180deg);

            #{ $self }__sort-button.is-up & {

                .icon {
                    fill: $blue;
                }
            }
        }

        &--down {

            #{ $self }__sort-button.is-down & {

                .icon {
                    fill: $blue;
                }
            }
        }
    }

    @each $name, $value in $grid-breakpoints {

        &--stacked-#{ $name } {

            @include media-breakpoint-only(#{ $name }) {
                table-layout: fixed;

                thead {
                    display: none;
                }

                tr {
                    display: block;

                    &:hover {
                        background: transparent !important;
                    }

                    & + tr {
                        border-top: 2px solid #ddd;
                    }
                }

                tbody td,
                tbody th {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    text-align: right;
                    width: 100%;
                    padding: 0.5rem 0 !important;
                }

                tbody td:before {
                    content: attr(aria-label);
                    float: left;
                    font-weight: $font-weight-bold;
                    color: $blue;
                }

                #{ $self }__checkbox-column {

                    .d-flex {
                        justify-content: space-between;
                    }
                }

                #{ $self }__checkbox {
                    order: 2;
                }

                #{ $self }__result-column-inner {
                    justify-content: space-between;
                }

                #{ $self }__icon--rosette {
                    margin-right: 0;
                }

                #{ $self }__group-head {
                    justify-content: space-between;
                    align-items: center;
                }

                #{ $self }__group-item-decor {
                    display: none;
                }
            }
        }

    }
}
