.app {
    @extend %transition--slide;

    @include media-breakpoint-up(lg) {
        display: flex;
        min-height: 100vh;
    }

    &.is-active--left {
        transform: translate3d(calc(100% - #{ $sidebar-gutter-mobile }), 0, 0);

        @include media-breakpoint-up(xs) {
            transform: translate3d(#{ $nav-width-tablet }, 0, 0);
        }

        @include media-breakpoint-up(lg) {
            transform: none;
        }
    }

    &.is-active--right {
        transform: translate3d(calc(-100% + #{ $sidebar-gutter-mobile }), 0, 0);

        @include media-breakpoint-up(xs) {
            transform: translate3d(-#{ $nav-width-tablet }, 0, 0);
        }

        @include media-breakpoint-up(lg) {
            transform: none;
        }
    }
}
