.user-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;

    &__avatar {
        width: 46px;
    }

    &__name {
        color: $blue--dark;
    }

    &__sign-out {

        @include font-size(12px, true);
    }
}
