/*-------------------------------------------------*\
    VARIABLES

    Use this file to declare any non-Bootstrap
    variables.

    Do not try to override default Bootstrap
    variables in this file. That won't work.
\*-------------------------------------------------*/

// Typography
$root-font-size: 16px;

// Metrics
$box-padding: 30px;
$box-padding--double: 60px;
$box-padding--treble: 90px;
$radius: 3px;

// Nav
$nav-width-desktop: 300px;
$nav-width-tablet: 555px;
$notification-panel-width-desktop: 555px;
$notification-panel-width-tablet: 555px;
$notification-panel-toggle-width: 50px;
$sidebar-gutter-mobile: 64px;

// Colors
$blue--dark: #00304e;
$blue: #1e70b7;
$blue--light: #258cbf;
$blue--lighter: #90b8dc;
$blue--lightest: #f4f8f9;
$blue-grey: #e4eaee;
$success--grad: linear-gradient(-1deg, #32c28e 0%, #1cd897 100%);
$error--grad: linear-gradient(-225deg, #ff0034 0%, #d92036 100%);
$progress-bar-color: $blue-grey;
$progress-bar-grad: linear-gradient(-182deg, #258cbf 0%, #1e70b7 100%);
