/*-------------------------------------------------*\
    Z-INDEX

    Use this file to store any z-index rules.
    Keeping them all in one place makes it easier
    to keep track of various elements in the stack.
\*-------------------------------------------------*/

.site-nav {
    z-index: 10;

    &__overlay-toggle {
        z-index: -1;

        .site-nav.is-active & {
            z-index: 10;

            @include media-breakpoint-up(lg) {
                z-index: -1;
            }
        }
    }
}

.notification-panel {
    z-index: 10;

    &__overlay-toggle {
        z-index: -1;

        .notification-panel.is-active & {
            z-index: 10;

            @include media-breakpoint-up(lg) {
                z-index: -1;
            }
        }
    }
}

.form-control {

    &--has-sticky-button {
        z-index: 5;
    }

}

.form-sticky-button {

    z-index: 4;
}

.site-head {

    &__burger {
        z-index: 20;
    }

    &__notifications-count {
        z-index: 10;
    }
}

.notification-panel {

    &__status-icon-count {
        z-index: 10;
    }
}

.panel {

    &__header {
        z-index: 5;
    }

    &__main {
        z-index: 5;
    }

    &__pre-header {
        z-index: 4;
    }

    &__alert {
        z-index: 4;
    }

    &__call-to-action {
        z-index: 4;
    }

    &__tabs {
        z-index: 4;
    }
}

.comments {

    &__comment {
        z-index: 1;
    }

    &__avatar {
        z-index: 2;
    }
}
