<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{% block title %}{{ project_settings.name }}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#1e70b7">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#1e70b7">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% include "partials/social-card-meta.html" %}

    <link rel="stylesheet" href="http://jcp.local/css/app.css" media="all">

</head>
<body>
    <div class="app js-app">

        {% include "partials/site-head.html" %}
        {% include "partials/site-nav.html" %}

        <main class="main">
            {% include "partials/user-bar.html" %}

            <div class="main__inner">
                {% block content %}
                {% endblock %}
            </div>

            {% include "partials/site-foot.html" %}
        </main>

        {% include "partials/notification-panel.html" %}

    </div>

    <div class="breakpoint-helper"></div>

    {# <script src="http://jcp.local/js/app.js"></script> #}

    {# Temp JS #}
    <script>
        /*****************************************
            Sidebar toggles
        ******************************************/

        /* General elements */
        var app = document.querySelector('.js-app');
        var body = document.querySelector('body');

        /* Sidebar nav elements */
        var navToggles = document.querySelectorAll('.js-nav-toggle');
        var burger = document.querySelector('.js-nav-toggle--burger');
        var nav = document.querySelector('.js-site-nav');

        /* Notification panel elements */
        var notificationPanelToggles = document.querySelectorAll('.js-notification-panel-toggle');
        var notificationPanel = document.querySelector('.js-notification-panel');
        var headerNotificationPanelToggle = document.querySelector('.js-notification-panel-toggle--site-head');

        // On click of a nav toggle element
        navToggles.forEach(function(item) {
            item.addEventListener('click', function() {
                app.classList.toggle('is-active--left');
                nav.classList.toggle('is-active');
                burger.classList.toggle('is-active');
                body.classList.toggle('is-no-scroll');
            });
        });

        /* On click of a notification panel toggle */
        notificationPanelToggles.forEach(function(item) {
            item.addEventListener('click', function() {
                app.classList.toggle('is-active--right');
                notificationPanel.classList.toggle('is-active');
                headerNotificationPanelToggle.classList.toggle('is-active');
                body.classList.toggle('is-no-scroll');
            });
        });

        /*****************************************
            Tabs
        ******************************************/
        var tabsComponent = document.querySelector('.js-tabs');

        if(tabsComponent) {
            var tabs = tabsComponent.querySelectorAll('.tabs__button');

            tabs.forEach(elem => {
                let tabPaneId = elem.getAttribute('data-toggle');

                elem.addEventListener('click', evt => {
                    // Hide all tabs
                    hideAllTabs();

                    // Active the tab nav button
                    elem.classList.add('is-active');

                    // Show the tab pane
                    document.getElementById(tabPaneId).classList.add('is-active');
                });

            });
        }

        function hideAllTabs() {
            // For each tab...
            tabs.forEach(elem => {
                // Deactive the tab nav button
                elem.classList.remove('is-active');

                // Get ID of related tab pane
                let tabPaneId = elem.getAttribute('data-toggle');

                // Hide the tab pane
                document.getElementById(tabPaneId).classList.remove('is-active');
            });
        }

        /*****************************************
            Input dropdown
        ******************************************/
        let inputDropdowns = [...document.querySelectorAll('[data-module="input-dropdown"]')];

        inputDropdowns.map((component) => {
            // The text input field with which the dropdown is associated
            let input = component.querySelector('.js-input-dropdown__input');
            // The hidden input field where we will store the selected item's value
            let valueField = component.querySelector('.js-input-dropdown__value');
            // The overlay that can be clicked to hide the dropdown
            let overlay = component.querySelector('.js-input-dropdown__overlay');
            // The dropdown itself
            let dropdown = component.querySelector('.js-input-dropdown__dropdown');
            // The items contained in the dropdown
            let dropdownItems = [...dropdown.querySelectorAll('.js-input-dropdown__button')];

            // On focus of the input, show the dropdown
            input.addEventListener('focus', function() {
                dropdown.classList.add('is-active');
                overlay.classList.add('is-active');
            });

            // On click of the overlay, hide the dropdown
            overlay.addEventListener('click', function() {
                dropdown.classList.remove('is-active');
                overlay.classList.remove('is-active');
            });

            // For each of the dropdown items...
            dropdownItems.map((item) => {
                // When the item is clicked...
                item.addEventListener('click', function() {
                    // Get the item value from the data.value attribute
                    let itemValue = item.getAttribute('data-value');
                    let itemName = item.textContent;

                    // Set the input value equal to the dropdown item name
                    input.value = itemName;

                    // Set the hidden input value equal to the item value
                    valueField.value = itemValue;

                    // Hide dropdown
                    dropdown.classList.remove('is-active');
                    overlay.classList.remove('is-active');
                });
            });
        });

        /*****************************************
            Button dropdown
        ******************************************/
        let buttonDropdowns = [...document.querySelectorAll('[data-module="button-dropdown"]')];

        buttonDropdowns.map((component) => {
            // The trigger button with which the dropdown is associated
            let trigger = component.querySelector('.js-button-dropdown__trigger');
            // The overlay that can be clicked to hide the dropdown
            let overlay = component.querySelector('.js-button-dropdown__overlay');
            // The dropdown itself
            let dropdown = component.querySelector('.js-button-dropdown__dropdown');
            // The items contained in the dropdown
            let dropdownItems = [...dropdown.querySelectorAll('.js-button-dropdown__button')];

            // On focus of the input, show the dropdown
            trigger.addEventListener('click', function() {
                trigger.classList.add('is-active');
                dropdown.classList.add('is-active');
                overlay.classList.add('is-active');
            });

            // On click of the overlay, hide the dropdown
            overlay.addEventListener('click', function() {
                trigger.classList.remove('is-active');
                dropdown.classList.remove('is-active');
                overlay.classList.remove('is-active');
            });
        });
    </script>

</body>
</html>
