<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{% block title %}{{ project_settings.name }}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#cc88cc">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#cc88cc">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% include "partials/social-card-meta.html" %}

    <link rel="stylesheet" href="http://jcp.local/css/app.css" media="all">

</head>
<body>
    <div class="app js-app">

        {% include "partials/site-head.html" %}
        {% include "partials/site-nav.html" %}

        <main class="main">
            {% block content %}
            {% endblock %}

            {% include "partials/site-foot.html" %}
        </main>

        {% include "partials/notification-panel.html" %}

    </div>

    <div class="breakpoint-helper"></div>

    <script src="http://jcp.local/js/app.js"></script>

    {# Temp JS #}
    <script>
        /*****************************************
            Sidebar toggles
        ******************************************/

        /* General elements */
        var app = document.querySelector('.js-app');
        var body = document.querySelector('body');

        /* Sidebar nav elements */
        var navToggles = document.querySelectorAll('.js-nav-toggle');
        var burger = document.querySelector('.js-nav-toggle--burger');
        var nav = document.querySelector('.js-site-nav');

        /* Notification panel elements */
        var notificationPanelToggles = document.querySelectorAll('.js-notification-panel-toggle');
        var notificationPanel = document.querySelector('.js-notification-panel');
        var headerNotificationPanelToggle = document.querySelector('.js-notification-panel-toggle--site-head');

        // On click of a nav toggle element
        navToggles.forEach(function(item) {
            item.addEventListener('click', function() {
                app.classList.toggle('is-active--left');
                nav.classList.toggle('is-active');
                burger.classList.toggle('is-active');
                body.classList.toggle('is-no-scroll');
            });
        });

        /* On click of a notification panel toggle */
        notificationPanelToggles.forEach(function(item) {
            item.addEventListener('click', function() {
                app.classList.toggle('is-active--right');
                notificationPanel.classList.toggle('is-active');
                headerNotificationPanelToggle.classList.toggle('is-active');
                body.classList.toggle('is-no-scroll');
            });
        });
    </script>

</body>
</html>
