{% extends "layout/base.html" %}

{% block content %}

<div class="flow-vertical--3">

    {####################################
     Unread Messages Notification
    #####################################}
    <div class="alert alert--error">
        <div class="alert__text alert__text--has-icon">
            {% include "svg/info-circle.svg" %}
            <span class="alert__text-inner">
                You have a <span class="badge badge-pill badge-light">7 unread</span> message
            </span>
        </div>
        <div class="alert__buttons">
            <a class="button button--white" href="">View Messages</a>
        </div>
    </div>

    {####################################
     JETS - PDP head
    #####################################}
    <div class="panel">
        <div class="panel__inner">
            <div class="panel__main">
                <h1 class="[ heading--1 ] [ mb-1 ]">Activity log</h1>
                Your Activity Log shows your recent and upcoming activities
            </div>
        </div>
    </div>

    {####################################
     JETS - PDP Archive
    #####################################}
    <div class="panel">
        <div class="panel__inner">
            <div class="panel__pre-header">
                <div class="panel__pre-header-primary">
                    <form class="filter-bar" action="" method="">
                        <div class="filter-bar__filters-wrapper">
                            <div class="filter-bar__label">
                                Filter by
                            </div>

                            <div class="filter-bar__filters">
                                <select class="form-control form-control--trans-light custom-select">
                                    <option selected>Select activity</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                                <div class="form-group form-group--has-icon">
                                    <input class="form-control form-control--has-icon form-control--trans-light" type="text" name="" placeholder="Date from">
                                    <span class="form-group__input-icon form-group__input-icon--sm" aria-hidden="true" role="presentation">
                                        {% include "svg/angle-down.svg" %}
                                    </span>
                                </div>

                                <div class="form-group form-group--has-icon">
                                    <input class="form-control form-control--has-icon form-control--trans-light" type="text" name="" placeholder="Date to">
                                    <span class="form-group__input-icon form-group__input-icon--sm" aria-hidden="true" role="presentation">
                                        {% include "svg/angle-down.svg" %}
                                    </span>
                                </div>

                                <select class="form-control form-control--trans-light custom-select">
                                    <option selected>Select jockey</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-bar__actions">
                            <button class="[ filter-bar__filter-button ] [ button button--text-light ]" type="reset">
                                Reset
                            </button>
                            <button class="[ filter-bar__filter-button ] [ button button--primary button--white ]" type="submit">
                                Filter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel__header">
                <h2 class="panel__heading">
                    Recent Activities
                </h2>
            </div>

            <div class="panel__main">
                <table class="table table-hover table--stacked-xxs table--stacked-xs table--stacked-sm table--stacked-lg">
                    <thead>
                        <tr>
                            <th>Activity Type</th>
                            <th>Jockey</th>
                            <th class="table__sortable-column">
                                Date
                                <button class="table__sort-button is-up" type="button">
                                    <span class="sr-only">Toggle sort direction</span>
                                    <span class="table__sort-button-icon table__sort-button-icon--up">
                                        {% include 'svg/angle-up.svg' %}
                                    </span>
                                    <span class="table__sort-button-icon table__sort-button-icon--down">
                                        {% include 'svg/angle-down.svg' %}
                                    </span>
                                </button>
                            </th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in content.activity_log %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="[ table__avatar ] [ avatar avatar--blue ]">
                                            <div class="avatar__image" style="background-image:url('http://jcp.local/images/headshot.jpg');"></div>
                                        </div>
                                        <a class="table__link" href="">{{ item.activity_type }}</a>
                                    </div>
                                </td>
                                <td aria-label="Jockey">{{ item.jockey_name }}</td>
                                <td aria-label="Date">{{ item.date }}</td>
                                <td aria-label="Time">{{ item.time }}</td>
                                <td aria-label="Location">{{ item.location }}</td>
                                <td aria-label="Comments">
                                    <div class="icon-notify">
                                        {% include "svg/conversation.svg" %}
                                        <div class="icon-notify__badges">
                                            <span class="[ icon-notify__badge ] [ badge badge-pill badge-dark ]">3</span>
                                            <span class="[ icon-notify__badge ] [ badge badge-pill badge-dark ]">NEW</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="table__actions">
                                    <a class="table__icon-button" href="">
                                        {% include "svg/edit.svg" %}
                                    </a>
                                    <a class="button button--primary" href="">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Table Pagination" class="mt-2">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="panel__split-call-to-action">
                <a class="panel__call-to-action" tabindex="-1" disabled href=""></a>
                <a class="panel__call-to-action" href="">Next</a>
            </div>
        </div>
    </div>



{% endblock %}
