{% extends "layout/base.html" %}

{% block content %}

<div class="flow-vertical--3">

    {####################################
     Unread Messages Notification
    #####################################}
            <div class="alert alert--error">
                <div class="alert__text alert__text--has-icon">
                    {% include "svg/info-circle.svg" %}
                    <span class="alert__text-inner">
                        You have a <span class="badge badge-pill badge-light">7 unread</span> message
                    </span>
                </div>
                <div class="alert__buttons">
                    <a class="button button--white" href="">View Messages</a>
                </div>
            </div>

    {####################################
     Heading panel
    #####################################}
    <div class="panel">
        <div class="panel__inner">
            <div class="panel__main">
                <h1 class="[ heading--1 ] [ mb-1 ]">Documents</h1>
                A list of All Jockeys on the Jockey Coaching Programme
            </div>
        </div>
    </div>

    {####################################
     Add a Comment
    #####################################}
    <div class="panel">
        <div class="panel__inner">
            <div class="panel__header">
                <h2 class="panel__heading">
                    Add a Document
                    <div class="[ text--color-base text--size-base ] [ font-weight-normal ] [ mt-1 ]">Give your message a title</div>
                </h2>

            </div>

            <div class="panel__main flow-vertical--3">

                <div class="mt-2 form-group flow-vertical--1">
                    <laber class="text--color-blue">test</laber>
                    <input class="form-control" type="text" name="" value="" placeholder="Enter Location...">
                </div>
                <div class="flow-vertical--1">
                    <label class="text--color-blue">Upload Document</label>
                    <button class="button button--primary button--block" type="button">Attach a File</button>
                </div>
            </div>

        </div>
    </div>


    {####################################
     Upload Button
    #####################################}
        <button class="button button--primary button--block" type="button">Upload</button>

    {####################################
     List of Documents
    #####################################}
    <div class="panel">
        <div class="panel__inner">
            <div class="panel__header">
                <h2 class="panel__heading">
                    List of Documents
                    <div class="[ text--color-base text--size-base ] [ font-weight-normal ] [ mt-1 ]">Click Download to vie the file</div>
                </h2>

            </div>

            <div class="panel__main flow-vertical--3">
                <div class="five-col-grid">
                    {% for item in content.documents %}
                        <div class="five-col-grid__col">
                            <div class="document-card">
                                <div class="document-card__icon">
                                    {% include "svg/document.svg" %}
                                    <div class="document-card__extension">{{ item.extension }}</div>
                                </div>
                                <div class="document-card__main">
                                    <div class="document-card__filename">{{ item.filename }}</div>
                                    <a class="button button--primary" href="">Download</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


{% endblock %}
