{% extends "layout/base.html" %}

{% block content %}

<style>
    .list-group-item:after {
        content: " " attr(href);
        display: block;
        color: #888;
        font-size: 12px;
    }

    @media (min-width: 540px) {

        .list-group-item:after {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .list-group-item-success:after {
        color: #4f8e5d;
    }
</style>

<ul class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-success" href="components.html">All components</a>
    <a class="list-group-item list-group-item-action" href="activity-log.html">Activity log</a>
    <a class="list-group-item list-group-item-action" href="dashboard-admin.html">Dashboard - admin</a>
    <a class="list-group-item list-group-item-action" href="dashboard-coach.html">Dashboard - coach</a>
    <a class="list-group-item list-group-item-action" href="dashboard-jockey.html">Dashboard - jockey</a>
    <a class="list-group-item list-group-item-action" href="documents.html">Documents</a>
    <a class="list-group-item list-group-item-action" href="group-activity.html">Group activity</a>
    <a class="list-group-item list-group-item-action" href="add-group-activity.html">Group activity - add</a>
    <a class="list-group-item list-group-item-action" href="group-activity-media.html">Group activity - media</a>
    <a class="list-group-item list-group-item-action" href="invoicing.html">Invoicing</a>
    <a class="list-group-item list-group-item-action" href="invoicing-create.html">Invoicing - create</a>
    <a class="list-group-item list-group-item-action" href="invoicing-add-activities.html">Invoicing - add activities</a>
    <a class="list-group-item list-group-item-action" href="invoicing-add-mileage.html">Invoicing - add mileage</a>
    <a class="list-group-item list-group-item-action" href="invoicing-review.html">Invoicing - review</a>
    <a class="list-group-item list-group-item-action" href="invoicing-review.html">Invoicing - complete</a>
    <a class="list-group-item list-group-item-action" href="messages-inbox-jockey.html">Messages - inbox (jockey)</a>
    <a class="list-group-item list-group-item-action" href="messages-inbox-admin.html">Messages - inbox (coach/admin)</a>
    <a class="list-group-item list-group-item-action" href="messages-read.html">Messages - read</a>
    <a class="list-group-item list-group-item-action" href="messages-compose-coach.html">Messages - comopose (coach)</a>
    <a class="list-group-item list-group-item-action" href="my-jockeys-admin.html">My jockeys - admin</a>
    <a class="list-group-item list-group-item-action" href="my-jockeys-coach.html">My jockeys - coach</a>
    <a class="list-group-item list-group-item-action" href="my-jockeys-jets.html">My jockeys - jets</a>
    <a class="list-group-item list-group-item-action" href="pdp.html">PDP</a>
    <a class="list-group-item list-group-item-action" href="pdp-personal-details.html">PDP - personal details</a>
    <a class="list-group-item list-group-item-action" href="pdp-performance-goals.html">PDP - performance goals</a>
    <a class="list-group-item list-group-item-action" href="pdp-nutrition.html">PDP - nutrition</a>
    <a class="list-group-item list-group-item-action" href="profile.html">Profile</a>
    <a class="list-group-item list-group-item-action" href="racing-excellence-results.html">Racing Excellence Results</a>
</ul>

{% endblock %}
