/*----------------------------------------------*\
    BOOTSTRAP
\*----------------------------------------------*/
@import "bootstrap/bootstrap-settings";
@import "bootstrap/bootstrap-imports";

/*----------------------------------------------*\
    GENESIS
\*----------------------------------------------*/
@import "variables";
@import "animations";

// Vendors
// @import "vendors/example";

// Mixins
@import "mixins/font-size";
@import "mixins/hover";
@import "mixins/placeholder";
@import "mixins/word-wrap";

// Helpers
@import "helpers/transitions";

// Components
@import "components/icon";

// Layouts
// @import "layouts/example";

// Z-index rules
@import "z-index";

/*------------------------------------*\
    GLOBAL STYLES
\*------------------------------------*/

html {
    font-size: $root-font-size;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

    /*------------------------------------*\
        PRINT BREAKPOINT
        Print current breakpoint key as a
        pseudo of body. This can then be
        used in JS to determine the
        current breakpoint.
    \*------------------------------------*/
    &:before {
        display: none;
        speak: none;

        @include media-breakpoint-only("xs") {
            content: "xs";
        }

        @include media-breakpoint-only("sm") {
            content: "sm";
        }

        @include media-breakpoint-only("md") {
            content: "md";
        }

        @include media-breakpoint-only("lg") {
            content: "lg";
        }

        @include media-breakpoint-only("xl") {
            content: "xl";
        }
    }
}

a[href^="mailto"] {
    @include word-wrap();
}
